## Часть 1. Python

*Задача 1.* Даны некоторые изменяемые коллекции типа list: list1 и list2, при том что list1 является одним из элементов list2

In [10]:
list1 = [1,2,3]
list_x = list1.copy()
list2 = [list_x, 4,5,6]

Нам необходимо присвоить новой переменной list3 содержимое list2

In [9]:
list3 = list2

Далее мы производим некоторое изменение в элементах list2. Что будет с list3 ?

In [12]:
list2.pop()
list3

[[1, 2, 3], 4, 5, 6]

Как оставить коллекцию list3 неизменяемой?

In [15]:
#Ваш код здесь
import copy 
list3 = copy.deepcopy(list2)

In [16]:
list3

[[1, 2], 4, 5]

Далее мы производим некоторое изменение в элементах list1. Что будет с list3 ?

In [13]:
list1.pop()
list3

[[1, 2], 4, 5, 6]

In [ ]:
#Ваш код здесь

In [ ]:
# особенности списков
letters = list("Hello")
print(letters)      # ['H', 'e', 'l', 'l', 'o']

numbers = [5] * 6   # 6 раз повторяем 5
print(numbers)      # [5, 5, 5, 5, 5, 5]
 
people = ["Tom"] * 3    # 3 раза повторяем "Tom"
print(people)           # ["Tom", "Tom", "Tom"]
 
students = ["Bob", "Sam"] * 2   # 2 раза повторяем "Bob", "Sam"
print(students)                 # ["Bob", "Sam", "Bob", "Sam"]

people[1] = "Mike"  # изменение второго элемента

people = ["Tom", "Bob", "Sam"]
 
tom, bob, sam = people # разложение списка на элементы
 
print(sam)      # Sam

people = [
    ["Tom", 29],
    ["Alice", 33],
    ["Bob", 27]
]
 
print(people[0][1])      # 29

# добавление во вложенный список
people[-1].append("+79876543210")
 
print(people[-1])         # ["Bob", 27, "+79876543210"]

#кортеж - неизменяемый тип (immutable), мы не сможем изменить его элементы
tom = ("Tom", 37, "Google", "software developer")
 
# получем подкортеж с 1 по 3 элемента (не включая)
print(tom[1:3])     # (37, "Google")

name, age, company, position = ("Tom", 37, "Google", "software developer")
print(name)         # Tom

#При передаче кортежа в функцию с помощью оператора * его можно разложить на отдельные значения, которые передаются параметрам функции:
def print_person(name, age, company):
    print(f"Name: {name}  Age: {age}  Company: {company}")
 
tom = ("Tom", 22)
print_person(*tom, "Microsoft")     # Name: Tom  Age: 22  Company: Microsoft

bob = ("Bob", 41, "Apple")
print_person(*bob)      # Name: Bob  Age: 41  Company: Apple

*Задача 2.* Что ожидаем в выводе этой ячейки ?

In [17]:
import numpy as np
np.NaN == np.NaN

False

*Задача 3.* Даны три списка, необходимо их объединить так, чтобы получился ожидаемый вывод ячейки

In [2]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]

# [('Apples', 5, 1.50),
# ('Oranges', 3, 2.25),
# ('Bananas', 4, 0.89)]

In [23]:
return_list= []
for i in range(3):
  iteration_tuple = tuple([fruits[i],quantities[i],prices[i]])
  return_list.append(iteration_tuple)

return_list

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [4]:
list(zip(fruits,quantities,prices))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
#Ваш код здесь

*Задача 4.* Реализовать функцию вычисления медианы, применить к списку

In [17]:
num_list = [21, 13, 19, 3, 11, 5, 18,35]

In [18]:
#Ваш код здесь
def median_list(list):
  list.sort()
  if len(list)%2 == 1:
    return list[int((len(list)+1)/2)]
  else:
    return 0.5*(list[int((len(list))/2)] + list[int((len(list))/2 +1)])

In [20]:
median_list(num_list)

18.5

*Задача 5.*

Даны датасеты df_train.txt, df_test.txt, содержащие поля </br>
id - id клиента (в выборке один клиент может встречаться несколько раз, df_train и df_test по клиентам не пересекаются) </br>
dt - дата, на которую собраны фичи </br>
target - бинарный таргет 0/1 </br>
f0...f20 - фичи

In [24]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/alexH179/test/main/df_train.csv')
df.head()

,id,dt,target,f0,f1,f2,f3,f4,f5,f6,...,f11,f12,f13,f14,f15,f16,f17,f18,f19,f20
0,1,06.02.2017,0,1.136524,0.114203,NaN,0.022222,0.205882,NaN,0.000000,...,0.066667,0.288889,59.0,0.0,0.0,0.0,0.062500,0.375000,84.0,1
1,2,09.04.2018,0,1.649123,0.131579,NaN,0.058824,0.142857,NaN,0.250000,...,0.941176,0.176471,19.0,0.0,0.0,0.0,0.000000,0.250000,86.0,2
2,2,06.02.2017,0,NaN,NaN,NaN,0.074074,0.133333,NaN,0.000000,...,0.055556,0.037037,22.0,0.5,0.5,0.0,0.121212,0.000000,83.0,2
3,3,06.02.2017,0,1.002287,0.214339,NaN,0.373786,0.043478,NaN,0.612613,...,0.762136,0.276699,90.0,0.0,0.8,0.0,0.000000,0.567729,88.0,3
4,3,30.03.2017,0,0.662532,0.230268,NaN,0.274038,0.066176,NaN,0.288889,...,0.596154,0.384615,93.0,0.0,0.5,0.0,0.000000,0.375354,88.0,3

Требуется:

  1) Вывести максимальную и минимальную дату в выборке. </br>
  2) Разбить выборку на обучающую и валидационную, построить любую модель, оценить качество на валидационной части. Метрика, которую оптимизируем - roc_auc_score </br>
  3) Загрузить валидационную часть, замерить roc_auc_score</br>
  4) Построить график по df_test: по оси X - месяц, по оси Y - roc_auc_score

In [48]:
#Ваш код здесь
df['dt_2'] = pd.to_datetime(df.dt, format = "%d.%m.%Y")

In [39]:
df.dt

0        06.02.2017
1        09.04.2018
2        06.02.2017
3        06.02.2017
4        30.03.2017
            ...
64679    25.04.2018
64680    06.08.2018
64681    23.04.2018
64682    04.05.2018
64683    20.12.2017
Name: dt, Length: 64684, dtype: object

In [44]:
df.dt_2.max()

Timestamp('2018-12-30 00:00:00')

In [45]:
df.dt_2.min()

Timestamp('2017-02-04 00:00:00')

In [49]:
df.loc[:10,df.columns.isin(["dt","dt_2"])]

            dt       dt_2
0   06.02.2017 2017-02-06
1   09.04.2018 2018-04-09
2   06.02.2017 2017-02-06
3   06.02.2017 2017-02-06
4   30.03.2017 2017-03-30
5   07.02.2017 2017-02-07
6   08.02.2017 2017-02-08
7   09.02.2017 2017-02-09
8   03.06.2018 2018-06-03
9   09.02.2017 2017-02-09
10  15.09.2017 2017-09-15

In [ ]:
test = pd.read_csv('https://raw.githubusercontent.com/alexH179/test/main/df_test.csv')
test.head()

   id          dt  target        f0  ...       f17       f18   f19  f20
0   0  06.02.2017       0  1.333333  ...  0.000000  0.387097  79.0    0
1   5  07.12.2017       0       NaN  ...  0.000000  0.000000  49.0    5
2   5  21.09.2018       0  1.211228  ...  0.000000       NaN  59.0    5
3   5  08.02.2017       0  0.981888  ...  0.000000  0.000000  49.0    5
4  10  09.02.2017       0  1.054374  ...  0.008547  0.966912  83.0   10

[5 rows x 24 columns]

In [ ]:
#Ваш код здесь

## Часть 2. Бизнес-кейсы

*Задача 1.* 

Интернет-магазин хочет построить модель по выявлению клиентов, заинтересованных в покупке смартфона. У магазина есть:

  1) Выборка всех клиентов магазина размером 10 млн. Формат - таблица с одним полем: `client_id` (идентификатор клиента); </br>

  2) Выборка 10к клиентов, которые купили смартфон. Формат - таблица с двумя полями: `client_id` (идентификатор клиента), `target_date` (дата покупки смартфона);  </br> 

  3) Различные "сегментационные" данные (такие как пол/возраст клиента);

  4) Данные истории захода клиента на различные сайты. Формат - таблица с четырьмя полями: `сlient_id` (идентификатор клиента), `name` (название сайта), `date` (дата захода на сайт), `duration` (длительность посещения сайта).  </br> 
  
  Какие подходы к построению такой модели можно предложить?

*Задача 2.*

Интернет-магазин успешно построил модель лидогенерации из предыдущей задачи и запустил ее в проде. После запуска модели аналитики увидели среднюю конверсию в покупку в нашем магазине 1 % при 1000 рассылках в день. При этом стоимость комммуникации - 1 руб, а каждый смартфон в магазине стоит 2000 руб. Можно ли утверждать, что модель экономически рентабельна?

*Задача 3.*

После успешного теста модели лидогенерации интернет-магазин построил вторую модель на другом признаковом пространстве и запустил ее в прод параллельно с первой моделью. Замеры результатов коммуникации по моделям за два дня приведены в таблице ниже: 




```
model1    |  Количество коммуникаций | Количество покупок

21.02.2020|    1000	                   |      8     

22.02.2020|    970	                   |      12

model2    |  Количество коммуникаций | Количество покупок

21.02.2020|    1000	                   |      13     

22.02.2020|    990	                   |      9

```

 
Вопросы:
- Какие выводы можно сделать, на основе имеющейся статистики? Какова статическая значимость полученных результатов?
- Сколько дней нужно проводить тестирование, чтобы статическая значимость была не менее 95%?

## Часть 3. SQL

У вас есть таблица с полями id абонента (client_id), дата (start_date),  статус(status).

Типы полей: client_id [int], start_date [date], status [boolean]. 

Статус принимает значение 1 если абонент активировался, 0 если абонент стал заблокированным. Дата означает дату активации/блокировки.

Пример записей:
```
client_id    |  start_date       |  status

123456	   |    2020-01-01	 |      1

123457	   |    2020-01-01	 |      1

123456	   |    2020-01-14	 |      0

123456	   |    2020-01-17	 |      1

```


Данные взяты за 1 месяц (январь 2020г) по всем абонентам, которые были активированы 1 января (подразумевается, что у всех абонентов имеется запись start_date = 2020-01-01, status = 1). В течение месяца абонент может быть заблокирован неограниченное число раз, в том числе 0. Запись по абоненту добавляется только в день смены статуса, если в последующие дни статус не менялся, то новых записей по данному абоненту не будет.

Например у абонента за месяц 2 записи: 
```
123456       |    2020-01-01     |      1
123456       |    2020-01-14     |      0
 ```
 
Тогда кол-во дней в блокировке в январе: с 2020-01-14  по 2020-01-31 включительно = 18 дней.

Напишите запрос на SQL, который по каждому абоненту возвращает суммарное кол-во дней, проведенных в блокировке. Запрос должен возвращать client_id и колонку с количеством дней в блокировке.

In [ ]:
#Ваш код здесь

Код можно тестировать на платформе https://www.jdoodle.com/execute-sql-online/ c таблицей example.

Предварительно выполните команды:

```
create table example(client_id   int ,  start_date string,  status int);

insert into example 
values 
      (123456,'2020-01-01',1),
      (123457,'2020-01-01',1),
      (123458,'2020-01-01',1),
      (123459,'2020-01-01',1),
      (123456,'2020-01-14',0),
      (123459,'2020-01-20',0),
      (123459,'2020-01-21',1),
      (123459,'2020-01-25',0),
      (123459,'2020-01-27',1),
      (123457,'2020-01-31',0);

select * from example limit 10;
```

In [ ]:
df = pd.DataFrame([
    [123456,'2020-01-01',1],
    [123457,'2020-01-01',1],
    [123458,'2020-01-01',1],
    [123459,'2020-01-01',1],
    [123456,'2020-01-14',0],
    [123459,'2020-01-20',0],
    [123459,'2020-01-21',1],
    [123459,'2020-01-25',0],
    [123459,'2020-01-27',1],
    [123457,'2020-01-31',0],
], columns=['client_id', 'start_date', 'status'])

In [ ]:
#Ваш код здесь